/*==========	Desktop First	==========*/
/* Large Devices, Wide Screens */
@media only screen and (max-width: 2000px) {
  .contacts-map {
    min-width: auto;
  }
}
@media only screen and (max-width: 1690px) {
  .h1 {
    font-size: 64px;
  }
  .footer-box {
    padding: 0 0 0 20px;
  }
}
@media only screen and (max-width: 1520px) {
  .btn-services, .btn-burger {
    margin: 0 0 0 40px;
  }
  .location-country {
    padding: 60px 0 100px;
  }
  .location-country__map {
    top: 0;
  }
  .contacts-box {
    font-size: 18px;
  }
  .phones a {
    font-size: 30px;
  }
  .cooperation-box__bottom {
    margin: 40px 0 0;
  }
  .footer-box__map {
    max-width: 250px;
  }
  .services-wrapper__image {
    max-width: 650px;
    right: 20px;
  }
}
@media only screen and (max-width: 1440px) {
  .btn-services {
    margin: 0 auto 0 40px;
  }
  header .phone {
    margin: 0 30px;
  }
  .btn-burger {
    margin: 0 0 0 20px;
  }
  .home-item__image {
    max-width: 750px;
  }
  .page-service .list-checkbox li {
    margin: 0 0 12px;
  }
  .page-portfolio-home h1 {
    font-size: 50px;
  }
  .page-portfolio-home h3 {
    font-size: 28px;
  }
}
@media only screen and (max-width: 1310px) {
  .h1, .h2 {
    font-size: 60px;
  }
  header .phone {
    margin: 0 10px;
  }
  .menu li {
    margin: 0 15px 0 0;
  }
  .services-dropdown__col {
    padding: 36px 0 38px 15px;
  }
  .services-dropdown-menu {
    font-size: 14px;
  }
  .services-dropdown-main {
    max-width: 570px;
  }
  .menu-col-dropdown {
    max-width: 205px;
  }
  .location-country-box {
    margin: 0;
  }
  .footer-box {
    width: 100%;
  }
  .contacts-box {
    font-size: 16px;
  }
  .unique-sings h2 {
    font-size: 55px;
  }
}
@media only screen and (max-width: 1200px) {
  .company-wrapper {
    max-width: 700px;
  }
  .home-item__image {
    max-width: 600px;
    top: 300px;
  }
  .nav-menu {
    display: none;
  }
  .search-wrapper .form-search {
    width: 400px;
  }
  .btn-services {
    display: none;
  }
  header .logo {
    margin: 0 auto 0 0;
  }
  .location-country-box h2 {
    font-size: 56px;
  }
  .location-country-box__info {
    font-size: 24px;
  }
  .portfolio-card {
    min-height: 350px;
  }
  .portfolio-card__title {
    font-size: 20px;
    margin: 0 auto 30px;
  }
  .reviews {
    margin: 100px 0 70px;
  }
  .footer-box {
    padding: 10px 0 0;
    border: none;
    border-top: 1px solid #FF0000;
    margin: 20px 0 0;
  }
  .cooperation-box {
    padding: 0;
  }
  .cooperation-box h3 {
    margin: 0 0 30px;
    font-size: 30px;
  }
  .footer-box__map {
    max-width: 350px;
  }
  .page-portfolio h1 {
    font-size: 80px;
    line-height: 1;
    margin: 0 0 20px;
  }
  .services-wrapper__image {
    position: relative;
    max-width: 600px;
    bottom: 0;
    right: 0;
    margin: 30px auto 0;
  }
  .services-wrapper {
    margin: 0 0 40px;
    padding: 30px;
  }
  .page-service .list-checkbox {
    width: 100%;
    -webkit-column-count: 1;
       -moz-column-count: 1;
            column-count: 1;
  }
  .page-service .btn {
    margin: 20px 0 0;
  }
  .page-service h1 {
    font-size: 80px;
  }
  .page-portfolio-home h1 {
    font-size: 45px;
  }
  .page-portfolio-home h3 {
    font-size: 24px;
    margin: 20px 0 30px;
  }
  .contacts-map {
    height: 300px;
  }
  .page-contacts__content {
    margin: 0 0 30px;
  }
  .page-contacts h1 {
    font-size: 55px;
  }
  .page-contacts .schedule {
    margin: 20px 0 30px;
  }
  .page-contacts .cooperation-box {
    margin: 30px 0 0;
  }
  .page-contacts .list-social {
    margin: 30px 0 0;
  }
  .h1-title {
    font-size: 50px;
  }
}
@media only screen and (max-width: 992px) {
  .company-wrapper {
    position: relative;
    bottom: 0;
    right: 0;
    max-width: none;
    margin: 20px 0 0;
  }
  .home-slider .slide {
    height: auto;
  }
  .home-slider .slick-track {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
  }
  .home-item {
    padding: 150px 0 30px;
    height: 100%;
  }
  .home-item .h1 {
    min-height: auto;
    margin: 0 0 30px;
  }
  .home-slider-nav {
    position: relative;
    bottom: auto;
    margin: 20px 0 0;
  }
  .home-item__image {
    position: relative;
    max-width: 400px;
    top: 0;
    margin: 20px auto 0;
  }
  .h1, .h2 {
    font-size: 50px;
  }
  .btn-all-services {
    margin: 0 0 30px;
  }
  .popular-services {
    margin: 70px 0 50px;
  }
  h2 {
    font-size: 30px;
  }
  .service-card .btn {
    margin: 0 auto 0 0;
  }
  .advantages-slide .h2 sup {
    font-size: 36px;
  }
  .location-country {
    padding: 40px 0 0;
  }
  .location-country__map {
    position: relative;
  }
  .location-country-box {
    max-width: none;
  }
  .nav-tabs {
    margin: 0 0 20px;
  }
  .portfolio-card__title strong {
    font-size: 70px;
    line-height: normal;
  }
  .portfolio-card__title span {
    font-size: 30px;
  }
  .reviews {
    margin: 60px 0 40px;
  }
  .page-service {
    padding: 85px 0 60px;
  }
  .page-service h1 {
    font-size: 70px;
    margin: 30px 0 20px;
  }
  .unique-sings {
    padding: 40px 0 0;
  }
  .unique-sings h2 {
    font-size: 40px;
  }
  .unique-sings .box-text {
    max-width: none;
  }
  .unique-sings__content {
    padding: 0;
    margin: 0 0 30px;
  }
  .unique-sings__image {
    min-width: auto;
    width: 100%;
  }
  .description-product .unique-sings__content {
    padding: 0;
  }
  .page-portfolio__image, .stages-portfolio__image {
    margin: 30px 0 0;
  }
  .page-portfolio-home h1 {
    font-size: 35px;
  }
  .page-portfolio-home h3 {
    font-size: 20px;
  }
}
@media only screen and (max-width: 800px) {
  .search-wrapper .form-search {
    width: 300px;
  }
}
@media only screen and (max-width: 768px) {
  header .search-wrapper {
    display: none;
  }
  .modal-header .btn-close {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .home-nav-item {
    font-size: 14px;
  }
  .home-nav-item .text-active {
    font-size: 16px;
  }
  .h1, .h2 {
    font-size: 40px;
  }
  .btn-lg {
    padding: 20px 30px;
    font-size: 18px;
    height: auto;
  }
  .service-card__body {
    padding: 20px;
  }
  .advantages-slide .h2 sup {
    font-size: 24px;
  }
  .advantages .btn-group {
    margin: 60px 0 0;
  }
  .advantages .btn {
    padding: 10px 30px;
    margin: 0 30px 0 0;
  }
  .portfolio-card {
    width: 50%;
  }
  .reviews h2 {
    margin: 0 0 20px;
  }
  .clients-box {
    width: 20%;
  }
  .footer-box__map {
    max-width: none;
    width: 100%;
    margin: 20px 0;
  }
  .footer-box__bottom {
    margin: 0;
  }
  footer .schedule {
    margin: 20px 0;
  }
  h1 {
    font-size: 28px;
    margin: 0 0 30px;
  }
  .page-portfolio h1 {
    font-size: 60px;
  }
  .video-preview {
    margin: 50px auto 0;
  }
  .h1-title {
    font-size: 40px;
  }
  .sorting-wrapper {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    margin: 10px 0 0;
  }
}
@media only screen and (max-width: 650px) {
  header .btn-callback {
    display: none;
  }
  .btn-burger {
    margin: 0;
  }
  .advantages {
    padding: 70px 0 50px;
  }
  .advantages .btn-group {
    margin: 40px 0 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .advantages .btn {
    width: 100%;
    margin: 0 auto 20px;
  }
}
@media only screen and (max-width: 576px) {
  .home-nav-item {
    border: none;
  }
  .h1, .h2 {
    font-size: 30px;
  }
  .home-item__image, .company-wrapper {
    display: none;
  }
  .home-slider-nav .slick-current .home-nav-item__wrap {
    min-height: auto;
  }
  .home-nav-item__text {
    max-width: none;
  }
  .btn-lg {
    padding: 15px 25px;
  }
  .home-slider-nav {
    margin: 0;
  }
  .advantages-slider {
    padding: 0 0 0 30px;
  }
  .advantages-slider .slick-dots {
    top: 10px;
  }
  .advantages .btn-group {
    padding: 0 0 0 30px;
  }
  .advantages-slide .h2 sup {
    font-size: 20px;
  }
  .location-country-box {
    padding: 20px;
  }
  .location-country-box h2 {
    font-size: 40px;
  }
  .location-country-box__info {
    font-size: 20px;
    line-height: normal;
  }
  .company-plus {
    font-size: 16px;
    line-height: normal;
  }
  .nav-tabs .nav-link {
    padding: 4px 15px;
  }
  .reviews-slider .slide {
    width: 300px;
  }
  .reviews-box {
    font-size: 14px;
    padding: 20px;
  }
  .reviews-box__photo {
    margin: 0 10px 0 0;
  }
  .reviews-box__body {
    line-height: normal;
  }
  .clients-box {
    width: 33.33%;
  }
  .cooperation-box__subtitle {
    font-size: 18px;
  }
  .cooperation-box__bottom {
    margin: 20px 0 0;
  }
  .cooperation-box h3 {
    font-size: 24px;
    margin: 0 0 20px;
  }
  .form-cooperation button {
    position: relative;
    margin: 20px auto 0;
  }
  .consent {
    text-align: center;
  }
  .phones a {
    font-size: 24px;
  }
  .mb-100 {
    margin-bottom: 60px;
  }
  .page-portfolio h1 {
    font-size: 40px;
  }
  .page-service h1 {
    font-size: 50px;
  }
  .page-service .btn {
    padding: 15px 30px;
  }
  .unique-sings {
    margin: 0 0 70px;
  }
  .unique-sings .box-text {
    text-align: left;
    font-size: 16px;
  }
  .unique-sings h2 {
    font-size: 30px;
  }
  .description-text {
    font-size: 16px;
    text-align: left;
  }
  .stages-portfolio {
    margin: 0 0 50px;
  }
  .stages-portfolio h3 {
    font-size: 24px;
    margin: 0 0 30px;
  }
  .stages-portfolio h4 {
    font-size: 18px;
    margin: 0 0 20px;
  }
  .stages-portfolio .box-text p {
    margin: 0 0 20px;
  }
  .video-preview::after {
    width: 70px;
    height: 70px;
  }
  .page-portfolio-home h1 {
    font-size: 30px;
  }
  .portfolio-gallery {
    width: 50%;
  }
  .page-contacts h1 {
    font-size: 40px;
    margin: 0 0 20px;
  }
  .page-contacts .list-social {
    margin: 20px auto 0;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .page-contacts .cooperation-box__bottom {
    margin: 20px 0 0;
  }
  .page-contacts .contacts-box {
    font-size: 20px;
  }
  .h1-title {
    font-size: 30px;
  }
  .blog-card__img {
    height: 280px;
  }
  .blog-card__body {
    height: calc(100% - 280px);
    padding: 20px;
  }
  .blog-card__title {
    font-size: 18px;
  }
}
@media only screen and (max-width: 480px) {
  .logo {
    max-width: 140px;
  }
  .phone {
    font-size: 16px;
  }
  .modal-title {
    font-size: 30px;
  }
  .modal-body {
    margin: 30px 0 0;
  }
  .modal-content .form-callback button {
    margin: 20px auto 0;
  }
  .reviews-slider .slide {
    margin: 0 10px 0 0;
    width: 250px;
  }
  .reviews-box__head {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    text-align: center;
  }
  .reviews-box__name {
    width: 100%;
  }
  .reviews-box__photo {
    margin: 0 auto 10px;
  }
  .link-site {
    margin: 5px auto 0;
  }
  .services-wrapper .box-text {
    text-align: left;
  }
  .page-service h1 {
    font-size: 40px;
  }
}
@media only screen and (max-width: 420px) {
  header {
    padding: 10px 0;
  }
  .btn-burger {
    width: 20px;
    min-width: 20px;
    height: 16px;
  }
  .logo {
    max-width: 120px;
  }
  .phone {
    font-size: 15px;
  }
  .h1, .h2 {
    font-size: 24px;
  }
  .advantages-slide .h2 sup {
    font-size: 18px;
  }
  .advantages .btn {
    padding: 10px 20px;
  }
  .location-country-box__info li {
    width: 100%;
    -webkit-box-flex: 0;
        -ms-flex: none;
            flex: none;
    border: none;
    min-height: auto;
    padding: 0;
    margin: 0 0 10px;
  }
  .location-country-box__info li:last-child {
    margin: 0;
  }
  .company-plus__col {
    width: 100%;
    padding: 10px;
    border: none;
  }
  .company-plus__col:last-child {
    width: 100%;
    padding: 0 10px 10px;
  }
  .portfolio-card {
    min-height: 300px;
    width: 100%;
  }
  .portfolio-card__title {
    font-size: 18px;
  }
  .btn-all-services {
    padding: 10px 15px;
  }
  .btn {
    font-size: 15px;
  }
  .developer-box {
    width: 100%;
    margin: 20px 0 0;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  footer .list-social {
    margin: 0 auto;
  }
  .link-document {
    width: 100%;
    margin: 5px 0;
  }
  .page {
    padding: 50px 0 0;
  }
  h1 {
    font-size: 24px;
  }
  .nav-tabs .nav-link {
    padding: 5px 8px;
  }
  .nav-tabs .nav-item {
    margin: 0 5px 5px 0;
  }
  .page-portfolio h1 {
    font-size: 30px;
  }
  .services-box h3 {
    font-size: 20px;
  }
  .page-service {
    padding: 60px 0 70px;
  }
  .video-preview::after {
    width: 50px;
    height: 50px;
  }
  .portfolio-gallery {
    width: 100%;
  }
}
@media only screen and (max-width: 370px) {
  .modal-title {
    font-size: 24px;
  }
  .modal-subtitle {
    font-size: 14px;
  }
}
@media only screen and (min-width: 1300px) {
  .service-col {
    width: 20%;
  }
}